<?xml version="1.0" ?>
<robot name="Robot Webots Camera">
    <webots>
        <plugin type="webots_ros2_control::Ros2Control">
        </plugin>
    </webots>

    <ros2_control name="WebotsControl" type="system">
        <hardware>
            <plugin>webots_ros2_control::Ros2ControlSystem</plugin>
        </hardware>
    </ros2_control>
</robot>
